<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de Carro</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <div class="container">
    <h1>Adicionar/Editar Carro</h1>
    <form id="carForm" action="">
      <label for="placa">Placa:</label>
      <input type="text" id="placa" name="placa" required>

      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" name="modelo" required>

      <label for="cor">Cor:</label>
      <input type="text" id="cor" name="cor" required>

      <button type="submit">Salvar</button>
      <a href="/" class="button">Voltar</a>
    </form>
  </div>
  <script src="/scripts/app.js"></script>
</body>

</html>