<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listagem de Carros</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <div class="container">
    <h1>Carros Estacionados</h1>
    <a href="/form" class="button">Adicionar Carro</a>
    <table id="carTable">
      <thead>
        <tr>
          <th>Placa</th>
          <th>Modelo</th>
          <th>Cor</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <script src="/scripts/app.js"></script>
</body>

</html>